{% extends 'base.html' %} {% block content %}
<div class="sneaker-detail-body">
  <div class="sneaker-detail-red-circle"></div>
  <div class="sneaker-detail-container">
    <div class="sneaker-image-section">
      <img
        src="{{ sneaker.sneaker_image }}"
        alt="{{ sneaker.sneaker_name }}"
        class="sneaker-detail-image"
      />
    </div>
    <div class="sneaker-detail-info">
      <h1>{{ sneaker.sneaker_name }}</h1>
      <div class="sneaker-brand-name">{{ sneaker.brand }}</div>
      <div class="sneaker-price">Retail Price: ${{ sneaker.retail_price }}</div>

      <div class="sneaker-action-buttons">
        {% if g.user %} {% if sneaker in g.user.sneakers_in_closet %}
        <p>Sneaker is in your closet</p>
        <form
          action="{{ url_for('remove_from_closet', closet_id=sneaker.id) }}"
          method="post"
        >
          <button type="submit" class="sneaker-remove-button">Remove</button>
        </form>
        {% elif sneaker in g.user.sneakers_in_wishlist %}
        <p>Sneaker is in your wishlist</p>
        <form
          action="{{ url_for('remove_from_wishlist', wishlist_id=sneaker.id) }}"
          method="post"
        >
          <button type="submit" class="sneaker-remove-button">Remove</button>
        </form>
        {% else %}
        <form
          action="{{ url_for('add_to_closet', closet_id=sneaker.id) }}"
          method="post"
        >
          <button type="submit" class="sneaker-action-button">Closet</button>
        </form>
        <form
          action="{{ url_for('add_to_wishlist', wishlist_id=sneaker.id) }}"
          method="post"
        >
          <button type="submit" class="sneaker-action-button">Wishlist</button>
        </form>
        {% endif %} {% endif %}
      </div>

      <div class="sneaker-get-button">
        <a href="{{ sneaker.url }}">Get Sneaker</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
