{% extends 'users/profile.html' %} {% block content %}
<div class="col-sm-9">
  <div class="sneaker-grid">
    {% for followed_user in user.following %}
    <div class="sneaker-card">
      <a href="/users/{{ followed_user.id }}">
        <img
          src="{{ followed_user.image_url }}"
          alt="{{ followed_user.username }}"
          class="sneaker-image"
        />
        <h4>@{{ followed_user.username }}</h4>
        <p>{{ followed_user.bio }}</p>
      </a>
      {% if g.user %}
      <div class="sneaker-actions">
        {% if g.user.is_following(followed_user) %}
        <form
          method="POST"
          action="/users/stop-following/{{ followed_user.id }}"
        >
          <button class="small-button">Unfollow</button>
        </form>
        {% else %}
        <form method="POST" action="/users/follow/{{ followed_user.id }}">
          <button class="action-button">Follow</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
