{% extends "users/profile.html" %} {% block profile_content %}
<div class="col-sm-9">
  <div class="sneaker-grid">
    {% for follower in user.followers %}
    <div class="sneaker-card">
      <a href="/users/{{ follower.id }}">
        <img
          src="{{ follower.image_url }}"
          alt="{{ follower.username }}"
          class="sneaker-image"
        />
        <h4>@{{ follower.username }}</h4>
        <p>{{ follower.bio }}</p>
      </a>
      {% if g.user %}
      <div class="sneaker-actions">
        {% if g.user.is_following(follower) %}
        <form method="POST" action="/users/stop-following/{{ follower.id }}">
          <button class="small-button">Unfollow</button>
        </form>
        {% else %}
        <form method="POST" action="/users/follow/{{ follower.id }}">
          <button class="action-button">Follow</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
