{% extends 'base.html' %} {% block content %}
<!-- Wrapper for Users Page -->
<div class="users-page">
  <!-- User Search Bar Section -->
  <div class="user-search-container container">
    <form action="/users" method="GET" class="user-search-bar-form">
      <input
        type="text"
        name="q"
        placeholder="Search users..."
        class="user-search-bar-input"
      />
      <button type="submit" class="user-search-bar-btn">Search</button>
    </form>
  </div>

  <!-- Search Results Section -->
  {% if users %} {% if users|length == 0 %}
  <p>No users found with that username.</p>
  {% else %}
  <div class="sneakerheads">
    {% for user in users %}
    <div class="sneakerhead">
      <a href="/users/{{ user.id }}">
        <img
          src="{{ user.image_url }}"
          alt="{{ user.username }}"
          class="sneakerhead-image"
        />
        <h4 class="sneakerhead-name">
          @<a href="/users/{{ user.id }}">{{ user.username }}</a>
        </h4>
        <p>{{ user.bio }}</p>
      </a>
      {% if g.user %}
      <div class="sneaker-actions">
        {% if g.user.is_following(user) %}
        <form method="POST" action="/users/stop-following/{{ user.id }}">
          <button class="follow-button">Unfollow</button>
        </form>
        {% else %}
        <form method="POST" action="/users/follow/{{ user.id }}">
          <button class="follow-button">Follow</button>
        </form>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
  {% endif %} {% else %}
  <!-- <p>No users found with that username.</p> -->
  {% endif %}
</div>
{% endblock %}
